*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.PROJECT{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255, 242, 215, 0.975) , rgba(236, 218, 205, 0.7)),url(image/download.jpg);
     background-position: center;
     background-size: cover;
     position: relative;
}

nav{
    display: fkex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ff792c;
    text-decoration: none;
    font-size: 13px;
}

.text-box{
    width: 90%;
    color: #ff1900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40ox;
    font-size: 14px;
    color: #e40000;
}
