*{
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.WORK{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;


}
.WORK-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.WORK-col{
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}

.WORK-col img{
    width: 100%;
    display: block;

}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(255, 125, 155, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
